.comboConsole {
	position: relative !important;
	top: 7px !important;
}

#jogo {
	float: left;

}

#midia {
	float: left;
	margin-left: 1px;
}

.containerForms {
	background-color: #efefef;
	padding: 20px;
	margin-right: 10px;
	height: 230px;
	border: 1px solid #bfbfbf;
}

.containerForms h2{
	margin:0;
	text-align: center;
}


.componentsForm{
	margin-top: 15px;
}

#main{
	clear: both;
	display: inline-block;
}

#table{

	margin: 0;
	padding: 8px;
	padding-top: 20px;	
	float: left;
	width:40%;
	background-color: #efefef;
	border: 1px solid #bfbfbf;

}

#table h2{

	margin: 0;
	padding: 0;
	margin-bottom: 22px;
	text-align: center;
}



/*---------------------------------------------- */
